<p id="notice"><%= notice %></p>

<h1>Busy Times</h1>

<table>
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Tiempo ini</th>
      <th>Tiempo ter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @busy_times.each do |busy_time| %>
      <tr>
        <td><%= busy_time.identificador %></td>
        <td><%= busy_time.tiempo_ini %></td>
        <td><%= busy_time.tiempo_ter %></td>
        <td><%= link_to 'Show', busy_time %></td>
        <td><%= link_to 'Edit', edit_busy_time_path(busy_time) %></td>
        <td><%= link_to 'Destroy', busy_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busy Time', new_busy_time_path %>
