<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador:</strong>
  <%= @busy_time.identificador %>
</p>

<p>
  <strong>Tiempo ini:</strong>
  <%= @busy_time.tiempo_ini %>
</p>

<p>
  <strong>Tiempo ter:</strong>
  <%= @busy_time.tiempo_ter %>
</p>

<%= link_to 'Edit', edit_busy_time_path(@busy_time) %> |
<%= link_to 'Back', busy_times_path %>
